
  <main class="flex flex-row min-h-screen bg-gray-100">
    <div class="flex"></div>
    <div class="flex flex-col flex-1 w-0">
      <header class="shadow-sm shadow-gray-200">
        <div class="flex justify-end px-6 py-3 bg-white border-b border-gray-200 sm:justify-between xl:px-12">
          <nav class="items-center flex-1 hidden mx-auto space-x-2 text-sm text-gray-700 sm:flex">
            <a href="#" class="px-3 py-2 font-medium text-gray-700 bg-gray-100 rounded-md ">Dashboard</a>
            <a href="#"
              class="px-3 py-2 transition-colors duration-300 bg-white rounded-md hover:bg-gray-100 hover:text-blue-600">Pages</a>
            <a href="#"
              class="px-3 py-2 transition-colors duration-300 bg-white rounded-md hover:bg-gray-100 hover:text-blue-600">Support</a>
            <a href="#"
              class="px-3 py-2 transition-colors duration-300 bg-white rounded-md hover:bg-gray-100 hover:text-blue-600">Profile</a>
            <a href="#"
              class="px-3 py-2 transition-colors duration-300 bg-white rounded-md hover:bg-gray-100 hover:text-blue-600">Contact</a>
          </nav>
          <div>
            <button>
              <img src="{{ 'images/demo/user.jpg' | asset_url }}" alt="Image placeholder" class="w-10 h-10 rounded-full">
            </button>
          </div>
        </div>
      </header>
      <div class="flex flex-col px-6 py-8 mx-auto space-y-6 max-w-screen-2xl xl:px-12">
        <div class="relative overflow-hidden bg-white rounded-md shadow-sm shadow-gray-200 sm:h-32 md:h-48 lg:h-72">
          <div class="relative h-full overflow-hidden shadow-sm shadow-gray-200 rounded-t-md">
            <img src="{{ 'images/demo/nick-perez-B0-hISGx8I8-unsplash.jpg' | asset_url }}" alt="image cover" class="object-cover w-full ">
            <div class="absolute inset-0 w-full bg-gradient-to-t from-gray-700 bg-opacity-10">&nbsp;</div>
          </div>
          <div class="absolute z-20 flex flex-col items-start justify-start px-4 bottom-6 lg:px-8">
            <h2 class="text-xl font-semibold text-white">Sitemap</h2>
            <span class="block text-sm font-semibold transition-colors duration-300 text-gray-50">I should be incapable
              of drawing a single stroke at the present moment</span>
          </div>
        </div>
        <article class="flex-1 px-4 pt-6 pb-8 bg-white rounded-md shadow-sm shadow-gray-200 lg:pb-10 lg:pt-8 lg:px-6">
          <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4 lg:gap-y-12">
            <div>
              <h3 class="mb-4 text-base font-semibold text-gray-800">Products</h3>
              <ul class="space-y-3 text-sm font-semibold text-blue-600">
                <li>
                  <a href="#" class="hover:underline">Landing pages</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Browse all products</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Landing Page Pack</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Tailwind Prototyping Kit</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Free Tailwind CSS Components</a>
                </li>
              </ul>
            </div>
            <div>
              <h3 class="mb-4 text-base font-semibold text-gray-800">Resources</h3>
              <ul class="space-y-3 text-sm font-semibold text-blue-600">
                <li>
                  <a href="#" class="hover:underline">Blog</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Tailwind CSS Newsletter</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Affiliate program</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Licenses</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Tailwind CSS Color Palette</a>
                </li>
              </ul>
            </div>
            <div>
              <h3 class="mb-4 text-base font-semibold text-gray-800">Components</h3>
              <ul class="space-y-3 text-sm font-semibold text-blue-600">
                <li>
                  <a href="#" class="hover:underline">Admin</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Content</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Footers</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Light Version</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Minimal</a>
                </li>
              </ul>
            </div>
            <div>
              <h3 class="mb-4 text-base font-semibold text-gray-800">Themes</h3>
              <ul class="space-y-3 text-sm font-semibold text-blue-600">
                <li>
                  <a href="#" class="hover:underline">Pricing</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">SaaS</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Consultancy</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Dark versions</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Heros</a>
                </li>
              </ul>
            </div>
            <div>
              <h3 class="mb-4 text-base font-semibold text-gray-800">Get to Know Us</h3>
              <ul class="space-y-3 text-sm font-semibold text-blue-600">
                <li>
                  <a href="#" class="hover:underline">Careers</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Blog</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">About AirControl</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Investor Relations</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">AirControl Devices</a>
                </li>
              </ul>
            </div>
            <div>
              <h3 class="mb-4 text-base font-semibold text-gray-800">Make Money with Us</h3>
              <ul class="space-y-3 text-sm font-semibold text-blue-600">
                <li>
                  <a href="#" class="hover:underline">Sell products on AirControl</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Sell on AirControl Business</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Become an Affiliate</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Advertise Your Products</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Self-Publish with Us</a>
                </li>
              </ul>
            </div>
            <div>
              <h3 class="mb-4 text-base font-semibold text-gray-800">Payment Products</h3>
              <ul class="space-y-3 text-sm font-semibold text-blue-600">
                <li>
                  <a href="#" class="hover:underline">Business Card</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Shop with Points</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Reload Your Balance</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Currency Converter</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Your Account</a>
                </li>
              </ul>
            </div>
            <div>
              <h3 class="mb-4 text-base font-semibold text-gray-800">Let Us Help You</h3>
              <ul class="space-y-3 text-sm font-semibold text-blue-600">
                <li>
                  <a href="#" class="hover:underline">Your Orders</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Shipping Rates</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Returns & Replacements</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Manage Your Content and Devices</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">AirControl Assistant</a>
                </li>
              </ul>
            </div>
          </div>
        </article>
      </div>
    </div>
  </main>

